[user]
	name = Patrick Oyarzun
	email = patrick.oyarzun@grafana.com
	signingkey = 44B349E67EC0257A
[push]
	default = simple
[alias]
	ci = commit
	co = checkout
	lol = log --graph --decorate --pretty=oneline --abbrev-commit --all
	st = status
	br = branch
[core]
	autocrlf = input
[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[commit]
	gpgsign = true

[merge]
	conflictstyle = diff3

[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
